
#FactBgImage {
    background-image: url('../../assets/StarrySky.jpg'); /* Path to your image */
    background-size: auto; /* Ensures the image covers the entire element */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    width: 100%; /* Full width */
    height: 100vh; /* Full viewport height */
    position: absolute; /* Ensures it covers the entire screen */
    z-index: -1; /* Sends it behind other elements */
    left:0px;
  }
  
  